## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# optimize #3 chopping less than #2 of these to see if it changes the model
application_types_to_replace = ["T9", "T13", "T12", "T2", "T25", "T14", "T29", "T15", "T17", "T10",
                                "T7", "T8"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_df = application_df['CLASSIFICATION'].value_counts()
filter_class_df = class_df[class_df >1]
filter_class_df

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [9]:
# get list of the classifications with less than 1k
# optmize #3 keeping the same as #2
class_df = application_df['CLASSIFICATION'].value_counts()
big_class_df = class_df[class_df < 4000]
big_class_df.index

Index(['C3000', 'C2100', 'C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700',
       'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300',
       'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200',
       'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100',
       'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246',
       'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248',
       'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245',
       'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120',
       'C8210', 'C2561', 'C4500', 'C2150'],
      dtype='object', name='CLASSIFICATION')

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced 
# use the variable name `classifications_to_replace`
classifications_to_replace = big_class_df.index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
Other     6062
C1200     4837
Name: count, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, dtype=int)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [12]:
len(application_df.columns)

39

In [13]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"]
X = application_df.drop(columns="IS_SUCCESSFUL")
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [15]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])

    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=200,
        step=5), activation=activation, input_dim=38))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=200,
            step=5),
            activation=activation))

    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

    return nn_model

In [18]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=100,
    hyperband_iterations=2)

c:\Users\dakog\anaconda3\envs\dev\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [19]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=100,validation_data=(X_test_scaled,y_test))

Trial 508 Complete [00h 02m 00s]
val_accuracy: 0.7309620976448059

Best val_accuracy So Far: 0.7314285635948181
Total elapsed time: 02h 26m 50s

In [20]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'tanh',
 'first_units': 6,
 'num_layers': 2,
 'units_0': 176,
 'units_1': 76,
 'units_2': 146,
 'units_3': 81,
 'units_4': 11,
 'units_5': 191,
 'tuner/epochs': 34,
 'tuner/initial_epoch': 12,
 'tuner/bracket': 2,
 'tuner/round': 1,
 'tuner/trial_id': '0470'}

## Compile, Train and Evaluate the Model

In [21]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = (X_train.shape[1])
hidden_nodes_layer1 =  6
hidden_nodes_layer2 = 176

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_7 (Dense)                 │ (None, 6)              │           234 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 176)            │         1,232 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_9 (Dense)                 │ (None, 1)              │           177 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 1,643 (6.42 KB)

 Trainable params: 1,643 (6.42 KB)

 Non-trainable params: 0 (0.00 B)

In [22]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [23]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 2s 890us/step - accuracy: 0.6826 - loss: 0.6177
Epoch 2/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 876us/step - accuracy: 0.7203 - loss: 0.5801
Epoch 3/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 870us/step - accuracy: 0.7208 - loss: 0.5756
Epoch 4/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 906us/step - accuracy: 0.7256 - loss: 0.5683
Epoch 5/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 886us/step - accuracy: 0.7261 - loss: 0.5657
Epoch 6/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 880us/step - accuracy: 0.7208 - loss: 0.5653
Epoch 7/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 902us/step - accuracy: 0.7285 - loss: 0.5636
Epoch 8/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 923us/step - accuracy: 0.7266 - loss: 0.5609
Epoch 9/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 880us/step - accuracy: 0.7256 - loss: 0.5638
Epoch 10/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 883us/step - accuracy: 0.7277 - loss: 0.5625
Epoch 11/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 895us/step - accuracy: 0.7272 - loss: 0.5622
Epoch 12/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 920us/step - accuracy: 0.7315 - loss: 0.5584
Epoch 13/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 871us/step - accuracy: 0.7262 - loss: 0.5615
Epoch 14/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 864us/step - accuracy: 0.7309 - loss: 0.5568
Epoch 15/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 867us/step - accuracy: 0.7250 - loss: 0.5639
Epoch 16/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 907us/step - accuracy: 0.7324 - loss: 0.5548
Epoch 17/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 902us/step - accuracy: 0.7268 - loss: 0.5619
Epoch 18/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 869us/step - accuracy: 0.7285 - loss: 0.5595
Epoch 19/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 895us/step - accuracy: 0.7352 - loss: 0.5574
Epoch 20/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 865us/step - accuracy: 0.7237 - loss: 0.5643
Epoch 21/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 912us/step - accuracy: 0.7278 - loss: 0.5603
Epoch 22/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 871us/step - accuracy: 0.7263 - loss: 0.5624
Epoch 23/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 873us/step - accuracy: 0.7268 - loss: 0.5606
Epoch 24/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 873us/step - accuracy: 0.7236 - loss: 0.5614
Epoch 25/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 931us/step - accuracy: 0.7270 - loss: 0.5604
Epoch 26/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 875us/step - accuracy: 0.7258 - loss: 0.5601
Epoch 27/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 874us/step - accuracy: 0.7325 - loss: 0.5533
Epoch 28/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 872us/step - accuracy: 0.7280 - loss: 0.5596
Epoch 29/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 911us/step - accuracy: 0.7292 - loss: 0.5593
Epoch 30/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 870us/step - accuracy: 0.7196 - loss: 0.5634
Epoch 31/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 879us/step - accuracy: 0.7318 - loss: 0.5564
Epoch 32/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 896us/step - accuracy: 0.7268 - loss: 0.5608
Epoch 33/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 869us/step - accuracy: 0.7242 - loss: 0.5618
Epoch 34/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 889us/step - accuracy: 0.7264 - loss: 0.5545
Epoch 35/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 870us/step - accuracy: 0.7300 - loss: 0.5557
Epoch 36/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 907us/step - accuracy: 0.7274 - loss: 0.5608
Epoch 37/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 867us/step - accuracy: 0.7298 - loss: 0.5585
Epoch 38/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 871us/step - accuracy: 0.7293 - loss: 0.5567
Epoch 39/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 899us/step - accuracy: 0.7281 - loss: 0.5584
Epoch 40/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 894us/step - accuracy: 0.7241 - loss: 0.5626
Epoch 41/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 873us/step - accuracy: 0.7258 - loss: 0.5601
Epoch 42/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 876us/step - accuracy: 0.7284 - loss: 0.5551
Epoch 43/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 906us/step - accuracy: 0.7305 - loss: 0.5559
Epoch 44/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 867us/step - accuracy: 0.7258 - loss: 0.5558
Epoch 45/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 871us/step - accuracy: 0.7296 - loss: 0.5570
Epoch 46/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 901us/step - accuracy: 0.7290 - loss: 0.5605
Epoch 47/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 868us/step - accuracy: 0.7314 - loss: 0.5528
Epoch 48/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 889us/step - accuracy: 0.7297 - loss: 0.5556
Epoch 49/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 866us/step - accuracy: 0.7262 - loss: 0.5574
Epoch 50/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 899us/step - accuracy: 0.7278 - loss: 0.5556
Epoch 51/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 873us/step - accuracy: 0.7282 - loss: 0.5584
Epoch 52/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 869us/step - accuracy: 0.7308 - loss: 0.5546
Epoch 53/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 900us/step - accuracy: 0.7245 - loss: 0.5604
Epoch 54/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 873us/step - accuracy: 0.7334 - loss: 0.5541
Epoch 55/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 866us/step - accuracy: 0.7341 - loss: 0.5503
Epoch 56/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 912us/step - accuracy: 0.7271 - loss: 0.5604
Epoch 57/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 902us/step - accuracy: 0.7303 - loss: 0.5559
Epoch 58/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 872us/step - accuracy: 0.7260 - loss: 0.5599
Epoch 59/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 868us/step - accuracy: 0.7277 - loss: 0.5565
Epoch 60/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 909us/step - accuracy: 0.7277 - loss: 0.5565
Epoch 61/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 873us/step - accuracy: 0.7299 - loss: 0.5550
Epoch 62/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 874us/step - accuracy: 0.7275 - loss: 0.5575
Epoch 63/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 902us/step - accuracy: 0.7303 - loss: 0.5516
Epoch 64/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 864us/step - accuracy: 0.7308 - loss: 0.5538
Epoch 65/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 888us/step - accuracy: 0.7293 - loss: 0.5554
Epoch 66/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 908us/step - accuracy: 0.7306 - loss: 0.5550
Epoch 67/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 870us/step - accuracy: 0.7299 - loss: 0.5553
Epoch 68/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 869us/step - accuracy: 0.7287 - loss: 0.5587
Epoch 69/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 904us/step - accuracy: 0.7321 - loss: 0.5514
Epoch 70/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 869us/step - accuracy: 0.7263 - loss: 0.5594
Epoch 71/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 866us/step - accuracy: 0.7292 - loss: 0.5558
Epoch 72/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 905us/step - accuracy: 0.7324 - loss: 0.5544
Epoch 73/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 888us/step - accuracy: 0.7287 - loss: 0.5552
Epoch 74/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 871us/step - accuracy: 0.7326 - loss: 0.5510
Epoch 75/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 908us/step - accuracy: 0.7308 - loss: 0.5563
Epoch 76/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 869us/step - accuracy: 0.7291 - loss: 0.5564
Epoch 77/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 868us/step - accuracy: 0.7296 - loss: 0.5562
Epoch 78/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 907us/step - accuracy: 0.7345 - loss: 0.5492
Epoch 79/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 890us/step - accuracy: 0.7296 - loss: 0.5558
Epoch 80/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 869us/step - accuracy: 0.7327 - loss: 0.5526
Epoch 81/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 908us/step - accuracy: 0.7334 - loss: 0.5529
Epoch 82/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 872us/step - accuracy: 0.7322 - loss: 0.5538
Epoch 83/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 868us/step - accuracy: 0.7272 - loss: 0.5585
Epoch 84/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 903us/step - accuracy: 0.7250 - loss: 0.5603
Epoch 85/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 875us/step - accuracy: 0.7302 - loss: 0.5555
Epoch 86/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 884us/step - accuracy: 0.7315 - loss: 0.5541
Epoch 87/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 909us/step - accuracy: 0.7296 - loss: 0.5548
Epoch 88/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 866us/step - accuracy: 0.7280 - loss: 0.5563
Epoch 89/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 864us/step - accuracy: 0.7352 - loss: 0.5481
Epoch 90/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 901us/step - accuracy: 0.7245 - loss: 0.5578
Epoch 91/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 868us/step - accuracy: 0.7333 - loss: 0.5532
Epoch 92/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 889us/step - accuracy: 0.7303 - loss: 0.5559
Epoch 93/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 901us/step - accuracy: 0.7309 - loss: 0.5546
Epoch 94/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 872us/step - accuracy: 0.7279 - loss: 0.5581
Epoch 95/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 870us/step - accuracy: 0.7274 - loss: 0.5545
Epoch 96/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 907us/step - accuracy: 0.7272 - loss: 0.5571
Epoch 97/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 926us/step - accuracy: 0.7334 - loss: 0.5517
Epoch 98/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 868us/step - accuracy: 0.7326 - loss: 0.5547
Epoch 99/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 904us/step - accuracy: 0.7257 - loss: 0.5606
Epoch 100/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 868us/step - accuracy: 0.7332 - loss: 0.5503

In [24]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 1ms/step - accuracy: 0.7275 - loss: 0.5617
Loss: 0.5617486834526062, Accuracy: 0.7274635434150696

In [25]:
# Export our model to HDF5 file
nn.save("mod21_opt3.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.