## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# optimize #2 chopping more of these to see if it changes the model
application_types_to_replace = ["T9", "T13", "T12", "T2", "T25", "T14", "T29", "T15", "T17", "T10",
                                "T7", "T8", "T19", "T5", "T6", "T4"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     7262
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_df = application_df['CLASSIFICATION'].value_counts()
filter_class_df = class_df[class_df >1]
filter_class_df

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# get list of the classifications with less than 1k
# optmize #2 chopping more to see if it changes the model
class_df = application_df['CLASSIFICATION'].value_counts()
big_class_df = class_df[class_df < 4000]
big_class_df.index

Index(['C3000', 'C2100', 'C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700',
       'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300',
       'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200',
       'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100',
       'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246',
       'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248',
       'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245',
       'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120',
       'C8210', 'C2561', 'C4500', 'C2150'],
      dtype='object', name='CLASSIFICATION')

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced 
# use the variable name `classifications_to_replace`
classifications_to_replace = big_class_df.index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
Other     6062
C1200     4837
Name: count, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, dtype=int)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T3,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,1,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,1,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
len(application_df.columns)

35

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"]
X = application_df.drop(columns="IS_SUCCESSFUL")
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])

    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=100,
        step=2), activation=activation, input_dim=34))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=100,
            step=2),
            activation=activation))

    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

    return nn_model

In [15]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=100,
    hyperband_iterations=10)

c:\Users\dakog\anaconda3\envs\dev\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [16]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=100,validation_data=(X_test_scaled,y_test))

Trial 2540 Complete [00h 02m 12s]
val_accuracy: 0.6867638230323792

Best val_accuracy So Far: 0.7135860323905945
Total elapsed time: 1d 07h 39m 44s

In [18]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'tanh',
 'first_units': 37,
 'num_layers': 5,
 'units_0': 51,
 'units_1': 73,
 'units_2': 95,
 'units_3': 25,
 'units_4': 37,
 'units_5': 71,
 'tuner/epochs': 34,
 'tuner/initial_epoch': 12,
 'tuner/bracket': 2,
 'tuner/round': 1,
 'tuner/trial_id': '1229'}

## Compile, Train and Evaluate the Model

In [21]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = (X_train.shape[1])
hidden_nodes_layer1 =  37
hidden_nodes_layer2 = 51
hidden_nodes_layer3 = 73
hidden_nodes_layer4 = 95
hidden_nodes_layer5 = 25
hidden_nodes_layer6 = 37

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_9 (Dense)                 │ (None, 37)             │         1,295 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_10 (Dense)                │ (None, 51)             │         1,938 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_11 (Dense)                │ (None, 1)              │            52 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 3,285 (12.83 KB)

 Trainable params: 3,285 (12.83 KB)

 Non-trainable params: 0 (0.00 B)

In [22]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [23]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 616us/step - accuracy: 0.6690 - loss: 0.6221
Epoch 2/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 612us/step - accuracy: 0.7000 - loss: 0.5928
Epoch 3/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 603us/step - accuracy: 0.7071 - loss: 0.5874
Epoch 4/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 631us/step - accuracy: 0.7128 - loss: 0.5771
Epoch 5/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 597us/step - accuracy: 0.7132 - loss: 0.5771
Epoch 6/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 602us/step - accuracy: 0.7084 - loss: 0.5808
Epoch 7/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 598us/step - accuracy: 0.7115 - loss: 0.5745
Epoch 8/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 600us/step - accuracy: 0.7125 - loss: 0.5774
Epoch 9/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 650us/step - accuracy: 0.7074 - loss: 0.5799
Epoch 10/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 605us/step - accuracy: 0.7087 - loss: 0.5809
Epoch 11/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 600us/step - accuracy: 0.7096 - loss: 0.5787
Epoch 12/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 603us/step - accuracy: 0.7155 - loss: 0.5760
Epoch 13/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 643us/step - accuracy: 0.7119 - loss: 0.5771
Epoch 14/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 599us/step - accuracy: 0.7107 - loss: 0.5790
Epoch 15/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 595us/step - accuracy: 0.7058 - loss: 0.5793
Epoch 16/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 603us/step - accuracy: 0.7145 - loss: 0.5779
Epoch 17/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 607us/step - accuracy: 0.7129 - loss: 0.5789
Epoch 18/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 634us/step - accuracy: 0.7161 - loss: 0.5716
Epoch 19/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 625us/step - accuracy: 0.7129 - loss: 0.5733
Epoch 20/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 615us/step - accuracy: 0.7202 - loss: 0.5720
Epoch 21/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 606us/step - accuracy: 0.7093 - loss: 0.5784
Epoch 22/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 604us/step - accuracy: 0.7140 - loss: 0.5759
Epoch 23/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 630us/step - accuracy: 0.7164 - loss: 0.5750
Epoch 24/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 604us/step - accuracy: 0.7163 - loss: 0.5701
Epoch 25/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 615us/step - accuracy: 0.7159 - loss: 0.5712
Epoch 26/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 600us/step - accuracy: 0.7128 - loss: 0.5760
Epoch 27/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 599us/step - accuracy: 0.7163 - loss: 0.5723
Epoch 28/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 623us/step - accuracy: 0.7164 - loss: 0.5760
Epoch 29/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 602us/step - accuracy: 0.7179 - loss: 0.5685
Epoch 30/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 601us/step - accuracy: 0.7179 - loss: 0.5727
Epoch 31/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 596us/step - accuracy: 0.7177 - loss: 0.5676
Epoch 32/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 593us/step - accuracy: 0.7149 - loss: 0.5730
Epoch 33/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 636us/step - accuracy: 0.7156 - loss: 0.5726
Epoch 34/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 591us/step - accuracy: 0.7169 - loss: 0.5719
Epoch 35/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 593us/step - accuracy: 0.7128 - loss: 0.5767
Epoch 36/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 593us/step - accuracy: 0.7187 - loss: 0.5698
Epoch 37/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 591us/step - accuracy: 0.7157 - loss: 0.5715
Epoch 38/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 604us/step - accuracy: 0.7142 - loss: 0.5738
Epoch 39/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 595us/step - accuracy: 0.7123 - loss: 0.5754
Epoch 40/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 605us/step - accuracy: 0.7189 - loss: 0.5715
Epoch 41/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 596us/step - accuracy: 0.7167 - loss: 0.5709
Epoch 42/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 620us/step - accuracy: 0.7149 - loss: 0.5733
Epoch 43/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 593us/step - accuracy: 0.7195 - loss: 0.5694
Epoch 44/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 597us/step - accuracy: 0.7168 - loss: 0.5700
Epoch 45/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 594us/step - accuracy: 0.7178 - loss: 0.5692
Epoch 46/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 593us/step - accuracy: 0.7138 - loss: 0.5735
Epoch 47/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 634us/step - accuracy: 0.7188 - loss: 0.5701
Epoch 48/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 618us/step - accuracy: 0.7186 - loss: 0.5707
Epoch 49/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 600us/step - accuracy: 0.7187 - loss: 0.5701
Epoch 50/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 600us/step - accuracy: 0.7189 - loss: 0.5694
Epoch 51/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 599us/step - accuracy: 0.7189 - loss: 0.5678
Epoch 52/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 623us/step - accuracy: 0.7169 - loss: 0.5698
Epoch 53/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 598us/step - accuracy: 0.7167 - loss: 0.5700
Epoch 54/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 613us/step - accuracy: 0.7185 - loss: 0.5690
Epoch 55/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 599us/step - accuracy: 0.7227 - loss: 0.5680
Epoch 56/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 621us/step - accuracy: 0.7177 - loss: 0.5707
Epoch 57/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 599us/step - accuracy: 0.7157 - loss: 0.5705
Epoch 58/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 599us/step - accuracy: 0.7194 - loss: 0.5678
Epoch 59/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 598us/step - accuracy: 0.7196 - loss: 0.5659
Epoch 60/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 599us/step - accuracy: 0.7161 - loss: 0.5704
Epoch 61/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 641us/step - accuracy: 0.7173 - loss: 0.5702
Epoch 62/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 596us/step - accuracy: 0.7161 - loss: 0.5713
Epoch 63/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 594us/step - accuracy: 0.7230 - loss: 0.5665
Epoch 64/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 598us/step - accuracy: 0.7192 - loss: 0.5673
Epoch 65/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 615us/step - accuracy: 0.7133 - loss: 0.5751
Epoch 66/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 593us/step - accuracy: 0.7178 - loss: 0.5721
Epoch 67/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 598us/step - accuracy: 0.7182 - loss: 0.5688
Epoch 68/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 594us/step - accuracy: 0.7223 - loss: 0.5636
Epoch 69/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 649us/step - accuracy: 0.7187 - loss: 0.5700
Epoch 70/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 612us/step - accuracy: 0.7172 - loss: 0.5694
Epoch 71/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 603us/step - accuracy: 0.7226 - loss: 0.5646
Epoch 72/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 597us/step - accuracy: 0.7200 - loss: 0.5668
Epoch 73/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 616us/step - accuracy: 0.7173 - loss: 0.5695
Epoch 74/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 595us/step - accuracy: 0.7222 - loss: 0.5644
Epoch 75/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 601us/step - accuracy: 0.7160 - loss: 0.5692
Epoch 76/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 620us/step - accuracy: 0.7190 - loss: 0.5702
Epoch 77/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 625us/step - accuracy: 0.7202 - loss: 0.5654
Epoch 78/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 601us/step - accuracy: 0.7203 - loss: 0.5675
Epoch 79/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 601us/step - accuracy: 0.7207 - loss: 0.5659
Epoch 80/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 596us/step - accuracy: 0.7172 - loss: 0.5717
Epoch 81/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 618us/step - accuracy: 0.7205 - loss: 0.5658
Epoch 82/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 609us/step - accuracy: 0.7181 - loss: 0.5687
Epoch 83/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 613us/step - accuracy: 0.7232 - loss: 0.5657
Epoch 84/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 597us/step - accuracy: 0.7215 - loss: 0.5652
Epoch 85/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 602us/step - accuracy: 0.7197 - loss: 0.5676
Epoch 86/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 634us/step - accuracy: 0.7189 - loss: 0.5670
Epoch 87/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 600us/step - accuracy: 0.7190 - loss: 0.5668
Epoch 88/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 600us/step - accuracy: 0.7210 - loss: 0.5666
Epoch 89/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 598us/step - accuracy: 0.7214 - loss: 0.5666
Epoch 90/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 645us/step - accuracy: 0.7219 - loss: 0.5669
Epoch 91/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 607us/step - accuracy: 0.7183 - loss: 0.5690
Epoch 92/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 591us/step - accuracy: 0.7173 - loss: 0.5681
Epoch 93/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 592us/step - accuracy: 0.7228 - loss: 0.5615
Epoch 94/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 618us/step - accuracy: 0.7221 - loss: 0.5662
Epoch 95/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 593us/step - accuracy: 0.7203 - loss: 0.5669
Epoch 96/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 592us/step - accuracy: 0.7226 - loss: 0.5629
Epoch 97/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 593us/step - accuracy: 0.7194 - loss: 0.5646
Epoch 98/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 637us/step - accuracy: 0.7207 - loss: 0.5674
Epoch 99/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 601us/step - accuracy: 0.7143 - loss: 0.5720
Epoch 100/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 597us/step - accuracy: 0.7203 - loss: 0.5677

In [24]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 704us/step - accuracy: 0.7108 - loss: 0.5822
Loss: 0.5821714997291565, Accuracy: 0.7107871770858765

In [25]:
# Export our model to HDF5 file
nn.save("mod21_opt2.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.